@import "../../style/index";

.sign-in {
  background: #fff;
  padding: 24px;
  .form-group {
    margin-bottom: 5px;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    button  {
      padding: 8px 32px;
    }
  }
  .error {
    color: #dc3545;
  }
  .spacer {
    height: 24px;
  }
}